@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: none;
    border: none;
    margin: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #3498db;
    color: #ecf0f1;
    font-family: 'Roboto';
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

#players {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#players input {
    padding: 8px;
    border-radius: 4px;
}

#startGame {
    margin-top: 60px;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db;
    border: 3px solid white;
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    transition: background 0.15s;
}

#startGame:hover {
    background: #3baaf5;
}

#board {
    display: none;
    width: 600px;
    height: 600px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}